langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
streamlit
duckduckgo-search
ddgs
arxiv
wikipedia
bs4
validators
pypdf
pymupdf
unstructured
pytube
sentence-transformers
huggingface_hub
pandas
numpy
SQLAlchemy
mysql-connector-python
numexpr
python-dotenv
ipykernel
pydantic

faiss-cpu
